<footer>
    <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>All Rights Reserved | Shika Project &copy; 2023</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                    <!--LiveInternet counter--><a href="https://www.liveinternet.ru/click"
target="_blank"><img id="licnt70EA" width="88" height="15" style="border:0" 
title="LiveInternet: number of visitors for today is shown"
src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
alt=""/></a><script>(function(d,s){d.getElementById("licnt70EA").src=
"https://counter.yadro.ru/hit?t26.6;r"+escape(d.referrer)+
((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
(s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
";h"+escape(d.title.substring(0,150))+";"+Math.random()})
(document,screen)</script><!--/LiveInternet-->



                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><i class="fas fa-envelope"></i> tetsuya@shikaproject.com | <i class="fas fa-phone"></i> 8(800) 5535-35-35</p>
                    </div>
                </div>
            </div>
        </footer>
