<footer>
    <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>All Rights Reserved | Shika Project &copy; 2023</p>
                    </div>
                    <div class="col-md-6 text-right">
                        <a href="#"><i class="fab fa-facebook fa-lg"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-lg"></i></a>
                        <!--LiveInternet logo-->
                        <a href="https://www.liveinternet.ru/click"
                        target="_blank"><img src="https://counter.yadro.ru/logo?26.2"
                        title="LiveInternet: number of visitors for today is shown"
                        alt="" style="border:0" width="88" height="15"/></a>
                        <!--/LiveInternet-->
                        <!-- Top100 (Kraken) Counter -->
                        <script>
                            (function (w, d, c) {
                            (w[c] = w[c] || []).push(function() {
                                var options = {
                                    project: 7732597,
                                };
                                try {
                                    w.top100Counter = new top100(options);
                                } catch(e) { }
                            });
                            var n = d.getElementsByTagName("script")[0],
                            s = d.createElement("script"),
                            f = function () { n.parentNode.insertBefore(s, n); };
                            s.type = "text/javascript";
                            s.async = true;
                            s.src =
                            (d.location.protocol == "https:" ? "https:" : "http:") +
                            "//st.top100.ru/top100/top100.js";
                        
                            if (w.opera == "[object Opera]") {
                            d.addEventListener("DOMContentLoaded", f, false);
                        } else { f(); }
                        })(window, document, "_top100q");
                        </script>
                        <noscript>
                          <img src="//counter.rambler.ru/top100.cnt?pid=7732597" alt="Топ-100" />
                        </noscript>
                        <!-- END Top100 (Kraken) Counter -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p><i class="fas fa-envelope"></i> tetsuya@shikaproject.com | <i class="fas fa-phone"></i> 8(800) 5535-35-35</p>
                    </div>
                </div>
            </div>
        </footer>
